/* body {
    max-width: 1400px;
    margin: 0 auto;
}
section {
   background-color: blanchedalmond; 
   height: 600px;
    margin: 0 auto;
}

.box {
    max-width: 500px;
    background-color: red;
    max-height: 400px;
    display: inline-block;
    overflow: scroll;
    overflow-x: hidden;
}

p {
    display: inline-block;
} */